
hr{
    color: #2c3e50;
}

.navi {
    background-color: #2c3e50;
    overflow: hidden;
    margin: 0 auto;
}

.footer{
    background-color: #2c3e50;
    overflow:hidden;
    position: fixed;
    left: 0;
    bottom:0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 30px 40px;
    
}

.navi a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 40px;
    text-decoration: none;
    font-size: 17px;
}

.navi a:hover {
    color:#18bc9c;
}


.myname{
    float:left;
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 1px 20px;
    text-decoration: none;
    font-size: 18px;
    position: center;
    
}

body{
    font-family: 'Allerta Stencil';font-size: 22px;
    background-color: #18bc9c!important;
    position: relative;
    margin: 0 auto;

}

.container{

margin: 0 auto;
width: 1000px;
background-color:transparent;
border-radius: 12px;
margin: 10% 18%;


}
.title{
    color:#2c3e50;
    font-size: 300%;
    position: center;
    padding: 10px 20px;
    margin: 0 auto;
    text-align: center;
    
    
}

.contact{

    margin: 100px 16px;

}

.contact-title{
    text-align: center;
    margin-bottom: 30px;
}

.form-container{

    background: transparent;
    max-width: 550px;
    margin: auto;

}

form{

    padding-top: 0px;
    padding-bottom: 10px;
    display:block;
    width:100%;
    
}

.form-name, .form-lname, .form-email, .form-message{
position: relative;    
}

form textarea{

    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #2c3e50;
    transition: 0.2s;
    margin-top: 16px;
    height: 150px;
    background-color: white;
    padding: 10px 16px, 10px, 30px;
}




  
  

