/* Add a black background color to the top navigation */
.navi {
    background-color: rgb(56, 59, 63);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.navi a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 40px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navi a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.navi a.active {
        color: white;
}

.myname{
    float:left;
    background-color: rgba(107, 223, 84, 0.993);
    color: #000000;
    text-align: center;
    padding: 2px 20px;
    text-decoration: none;
    font-size: 18px;
    

}