
hr{
    color: #ccc;
}



.navi {
    background-color: white;
    overflow: hidden;
    margin: 0 auto;
}

 



.footer{
    background-color: #777;
    font-size: 10px;
    overflow:hidden;
    position: fixed;
    left: 0;
    bottom:0;
    width: 100%;
    color: #ccc;
    text-align: center;
    padding: 30px 40px;
    border-top: 8px solid #4aaaa5;
    
}

.navi a {
    float: right;
    color: #999;
    text-align: center;
    padding: 30px 40px;
    text-decoration: none;
    font-size: 17px;
}

.navi a:hover {
    color:#18bc9c;
}


.myname {
    float: left;
    background-color: white;
    color: white;
    background-color: teal;
    text-align: center;
    padding: 1px 20px;
    text-decoration: none;
    font-size: 18px;
    position: center;
    margin-top:13px;
}

body{
    font-family: 'Allerta Stencil';font-size: 22px;
    background-color: white!important;
    position: relative;
    margin: 0 auto;
    background-image:url(../assets/images/background.png);
    background-repeat: repeat;
    font-size: 18px;
    line-height: 28px;

}

.container{

margin-top: 20px;
margin-bottom: 25px;
width: 1000px;
background-color:#fff;
border-radius: 12px;
margin: 0 auto;
padding: 30px;
border: 1px solid #ddd;


}
.title{
    color:#4aaaa5;
    font-size: 300%;
    position: left;
    padding: 10px 20px;
    margin: 20px;
    text-align: center;
    
    
}

.contact{

    margin: 100px 16px;

}

.contact-title{
    text-align: center;
    margin-bottom: 30px;
}

.form-container{

    background: transparent;
    max-width: 550px;
    margin: auto;
    border-radius: 12px;

}

form{

    padding-top: 0px;
    padding-bottom: 10px;
    display:block;
    width:100%;
    
}

.form-name, .form-lname, .form-email, .form-message{
position: relative;  
border-radius: 12px;  
}

form textarea{

    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #2c3e50;
    transition: 0.2s;
    margin-top: 16px;
    height: 150px;
    background-color: white;
    padding: 10px 16px, 10px, 30px;
}




  
  

